# SPDX-FileCopyrightText: 2026 Blackcat Informatics® Inc. <paudley@blackcat.ca>
# SPDX-License-Identifier: AGPL-3.0-only

* text=auto eol=lf
*.yaml whitespace=trailing-space,space-before-tab
*.yml whitespace=trailing-space,space-before-tab
